VITE_SUPABASE_URL=https://paqbnzdodozqgqdelhyz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhcWJuemRvZG96cWdxZGVsaHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyNzczOTcsImV4cCI6MjA3MTg1MzM5N30.ctPmjsTPhxCeju6w9pYQBhUf8twqJlIuFT2KuovPI6w